{% extends 'base.html.twig' %}

{% block title %}Créer un Événement{% endblock %}

{% block body %}
    <h1>Créer un Nouvel Événement</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('event_index') }}">Retour à la liste</a>

{% endblock %}
