<<<<<<< HEAD
{% extends 'base2.html.twig' %}
=======
{% extends 'base.html.twig' %}
>>>>>>> 44358fd661ae3678fe4672afca37df15f4a237b5

{% block title %}Modifier la Formation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier la Formation</h1>

        <div class="card shadow p-4">
            {{ include('formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="mt-3">
            <a href="{{ path('app_formation_index') }}" class="btn btn-secondary">
                ⬅ Retour à la liste
            </a>
        </div>

        <div class="mt-3">
            {{ include('formation/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
