{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Créer une Nouvelle Catégorie</h1>

        {# Affichage des messages Flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {# Inclusion du formulaire #}
        {{ include('category/_form.html.twig', {'button_label': 'Créer'}) }}

        <a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
