<p>Bonjour {{ user.name }},</p>
<p>Votre mot de passe a été modifié avec succès. Si vous n'êtes pas à l'origine de cette demande, veuillez contacter notre support.</p>
<p><a  href="{{ absolute_url(path('app_profile_principale', {'id': user.id}) ) }}">Cliquez ici pour accéder à votre profil</a></p>
