{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h2>Réinitialiser le mot de passe</h2>
    <!-- Formulaire de réinitialisation du mot de passe ici -->
{% endblock %}
